@keyframes example {
    from {
        top: 40%;
        left: 40%;

    }

    to {
        top: 0%;
        left: 20%;
    }

}

@keyframes example1 {
    from {
        top: 40%;
        left: 40%;

    }

    to {
        top: 0%;
        left: 60%;
    }

}

@keyframes example2 {
    from {
        top: 40%;
        left: 40%;
    }

    to {
        top: 27%;
        left: 0%;

    }

}

@keyframes example3 {
    from {
        top: 40%;
        left: 40%;
    }

    to {
        left: 73%;
        top: 32%;

    }

}

@keyframes example4 {

    from {
        top: 40%;
        left: 40%;
    }

    to {
        top: 57%;
        left: 41%;

    }

}




.homepage {
    background-color: rgb(22, 22, 85);
    /* height: 1000px; */
    padding: 30px 0px 0px 0px;
    background-image: url('https://64.media.tumblr.com/d60fa89a6c6ef6b51790a079d7204540/f145147b69889cf3-a3/s400x600/bf0c72b48fe07d11954778cc4bd8277fde58a54c.gifv');
    image-rendering: -webkit-optimize-contrast;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-brand {
    font-weight: 600;
    font-family: 'Montserrat Alternates', sans-serif;
}

.update_fire {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.shakeLeftRight {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.blogs_updates {
    height: fit-content;
    width: 250px;
    background-color: #020d3e;
    opacity: 1;
    padding: 10px;
    border-radius: 20px;
    position: absolute;
    top: 22%;
    right: 1%;
    z-index: 100;
    gap: 10px;
}


.blogs_updates .update {
    border-radius: 10px;
    padding: 2px;
    background-color: #1938c1;
    color: white;
    justify-content: space-between;
}

.update_title {
    font-size: 0.7rem;
    font-weight: 600;
}

.update_date {
    font-size: 0.5rem;
    width: 20%;
    font-weight: 600;
}

.mail_num .mail,
.num {
    padding: 5px;
    margin: 0;
    color: white;
    font-weight: 500;
    gap: 10px;
    align-items: baseline;
    font-family: 'Montserrat Alternates', sans-serif;

}

.mail_and_num {
    gap: 10px;
}

.navbar_mobile_button {
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    background-color: white;
}

.navbar_mobile_button span img {
    position: relative;
    bottom: 2px;
}

.nav-link {
    color: white !important;
    font-size: larger;
    font-size: medium;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Montserrat regular', sans-serif;

}

.nav-link sup img {
    width: 30px;
    height: 30px;
    position: relative;
    bottom: 10px;
    right: 10px;
}

.nav-link:hover,
.navbar-brand:hover {
    color: wheat !important;
}

.nav-link.active {
    color: wheat !important;
}

.navbar-brand {
    color: white;
    font-size: 2rem;
}

.navbar-brand:focus {
    color: white;
}

.tagline_services {
    position: relative;
}

.tagLine {
    margin: 0;
    margin: 200px 0px 0px 10px !important;
    font-family: 'Montserrat Alternates', sans-serif;
    /* letter-spacing: 2px; */
    width: 40%;
    text-align: left;
    color: white;
    border-left: 4px solid white;
    padding-left: 10px;
    height: max-content;
}

.services_homepage {
    position: relative;
    width: 60%;
    margin-top: 50px !important;
    gap: 30px;
    padding-right: 50px;
    height: 800px;

}

.services_homepage img {
    opacity: 0.6;
    cursor: pointer;
    width: 200px;
    height: 200px;
}

.services_homepage img:hover {
    opacity: 1;
}

.service_vastu {
    position: absolute;
    top: 0%;
    left: 20%;
    animation-name: example;
    animation-duration: 3s;
    animation-delay: 0s;
}

.service_tarot {
    position: absolute;
    top: 0%;
    left: 60%;
    animation-name: example1;
    animation-duration: 3s;
    animation-delay: 0s;
}

.service_l_r {
    position: absolute;
    width: 300px !important;
    height: 300px !important;
    animation: example2;
    animation-duration: 3s;
    animation-delay: 0s;
    top: 27%;
    left: 0%;
}

.service_writing_read {
    position: absolute;
    animation: example3;
    animation-duration: 3s;
    animation-delay: 0s;
    left: 73%;
    top: 32%;
}

.service_astrology {
    position: absolute;
    animation: example4;
    animation-duration: 3s;
    animation-delay: 0s;
    top: 57%;
    left: 41%;
}

.social_medias {
    cursor: pointer;
    position: fixed;
    bottom: 2%;
    left: 20px;
    gap: 10px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    background-image: linear-gradient(to right top, #140d3f, #1a0e43, #200f48, #26104c, #2c1050, #2f1156, #31135d, #341463, #32186e, #2d1c7a, #232186, #0f2692);

}

.social_medias i {
    color: white;
}

.services_hover_card {
    border-radius: 10px;
    width: 250px;
    text-align: center;
    margin: auto !important;
    height: fit-content;
    padding: 20px;
    color: white;
    background-image: linear-gradient(to right top, #140d3f, #1a0e43, #200f48, #26104c, #2c1050, #2f1156, #31135d, #341463, #32186e, #2d1c7a, #232186, #0f2692);
}

.service_hover_card_img img {
    background-color: white;
    opacity: 1 !important;
    color: black;
}

.service_hover_card_img {
    overflow: hidden;
    border-radius: 100%;
    width: 80px !important;
    height: 80px !important;
    margin: -60px auto 0 !important;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service_hover_card_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#services_homepage_modal .modal-dialog {
    border-radius: 20px;
}

.services_homepage_image {
    background-color: white;
}

.services_offered {
    margin-top: 20px !important;
    gap: 10px;
    font-size: small;
    justify-content: space-between;
    text-align: left;
}

.services_offered div {
    gap: 5px;
    text-align: left;
    width: 45%;
}

.services_offered img {
    width: 20px;
    height: 20px;
}

@media (max-width: 900px) {
    .homepage {
        padding-bottom: 20px;
    }

    .tagline_services {
        flex-direction: column !important;
        align-items: center;
    }

    .services_homepage {
        height: fit-content;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
    }

    .services_homepage img {
        position: relative;
        animation: none;
        left: 0;
        top: 0;
    }


    .tagLine {
        width: 95%;
        margin-top: 50px !important;
    }

    .services_homepage {
        width: 95%;
    }
}

@media (max-width: 768px) {
    .services_homepage {
        height: fit-content;
    }

    .services_homepage img {
        position: relative;
        animation: none;
        width: 170px;
        height: 180px;
    }

    .service_l_r {
        width: 200px;
        height: 200px;
    }

}

@media (max-width: 490px) {
    .navbar-brand {
        font-size: 1rem;
        align-self: flex-start;
    }

    .services_homepage {
        padding: 0;
    }

    .services_homepage img {
        width: 100px !important;
        height: 100px !important;
    }

    .service_l_r {
        width: 200px !important;
        height: 200px !important;
    }

    .mail_and_num {
        flex-direction: column !important;

    }

    .mail_num {
        font-size: xx-small;
        justify-content: space-between !important;
    }
}