@keyframes example {
    from {
        top: 21%;
        left: 39%;

    }

    to {
        top: -10%;
        left: 58%;
    }

}

@keyframes example1 {
    from {
        top: 21%;
        left: 40%;

    }

    to {
        top: -10%;
        left: 22%;
    }

}

@keyframes example2 {
    from {
        top: 20%;
        left: 40%;
    }

    to {
        top: 22%;
        left: 8%;

    }

}

@keyframes example3 {
    from {
        top: 20%;
        left: 40%;
    }

    to {
        top: 22%;
        left: 72%;
    }

}

@keyframes example4 {

    from {
        top: 20%;
        left: 40%;
    }

    to {
        top: 52%;
        left: 39%;
    }

}

.homepage {
    background-image: url('../../../public/images/service_bg3.jpg');
    padding: 30px 0px 0px 0px;
    image-rendering: -webkit-optimize-contrast;
    background-repeat: no-repeat;
    background-size: cover;
}

.homepage_bg {
    width: 100%;
    height: auto;
    top: 0%;
    left: 0%;
    opacity: 0.8;
}

.navbar-brand {

    font-weight: 600;
    font-family: 'Montserrat Alternates', sans-serif;
}

.navbar-brand img {
    width: 100px;
    height: 100px;
}

.update_fire {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.shakeLeftRight {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.mail_num {
    margin-top: 20px !important;
}

.mail_num a {
    color: white;
}

.mail_num .mail,
.num {
    padding: 5px;
    margin: 0;
    color: white;
    font-weight: 500;
    gap: 10px;
    align-items: baseline;
    font-family: 'Montserrat Alternates', sans-serif;

}



.mail_and_num {
    gap: 10px;
}

.navbar_mobile_button {
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    background-color: white;
}

.navbar_mobile_button span img {
    position: relative;
    bottom: 2px;
}

.nav-link {
    color: white !important;
    font-size: larger;
    font-size: medium;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.nav-link sup img {
    width: 30px;
    height: 30px;
    position: relative;
    bottom: 10px;
    right: 10px;
}

.nav-link:hover,
.navbar-brand:hover {
    color: wheat !important;
}

.nav-link.active {
    color: wheat !important;
}

.navbar-brand {
    color: white;
    font-size: 2rem;
}

.navbar-brand:focus {
    color: white;
}

.tagline_services {
    position: relative;
}

.navbar-collapse ul {
    height: 20vh;
}


.tagLine {
    margin: 0;
    margin: 200px 0px 0px 10px !important;
    font-family: 'Montserrat Alternates', sans-serif;
    /* letter-spacing: 2px; */
    width: 40%;
    text-align: left;
    color: white;
    border-left: 4px solid white;
    padding-left: 10px;
    height: max-content;
}

.services_homepage {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 60%;
    margin-top: 50px !important;
    gap: 30px;
    height: 800px;

}

.service_bg {
    position: absolute;
    top: -10%;
    left: 0%;
    width: 90% !important;
    opacity: 0.5;
    height: 100%;
    height: auto !important;
    border-radius: 50%;
}

.services_homepage img {
    opacity: 0.6;
    cursor: pointer;
    width: 200px;
    height: 200px;
}

.services_homepage img:hover {
    opacity: 1;
}

.service_vastu {
    position: absolute;
    top: -10%;
    left: 58%;
    animation-name: example;
    animation-duration: 3s;
    animation-delay: 0s;
}

.service_tarot {
    position: absolute;
    top: -10%;
    left: 22%;
    animation-name: example1;
    animation-duration: 3s;
    animation-delay: 0s;
}

.service_l_r {
    position: absolute;
    animation: example2;
    animation-duration: 3s;
    animation-delay: 0s;
    top: 22%;
    left: 8%;
}

.service_writing_read {
    position: absolute;
    animation: example3;
    animation-duration: 3s;
    animation-delay: 0s;
    top: 22%;
    left: 72%;
}

.service_astrology {
    width: 250px !important;
    height: 250px !important;
    position: absolute;
    top: 18%;
    left: 36%;
}

.service_prasana_kundali {
    position: absolute;
    animation: example4;
    animation-duration: 3s;
    animation-delay: 0s;
    width: 200px !important;
    height: 200px !important;
    top: 52%;
    left: 39%;
}

.social_medias {
    cursor: pointer;
    position: fixed;
    bottom: 2%;
    left: 20px;
    gap: 10px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    background-image: linear-gradient(to right top, #140d3f, #1a0e43, #200f48, #26104c, #2c1050, #2f1156, #31135d, #341463, #32186e, #2d1c7a, #232186, #0f2692);

}

.social_medias i {
    color: white;
}

.services_hover_card {
    cursor: pointer;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    margin: auto !important;
    height: fit-content;
    padding: 20px;
    color: white;
    background-image: linear-gradient(to right top, #140d3f, #1a0e43, #200f48, #26104c, #2c1050, #2f1156, #31135d, #341463, #32186e, #2d1c7a, #232186, #0f2692);
}

.service_hover_card_img img {
    background-color: white;
    opacity: 1 !important;
    color: black;
}

.service_hover_card_img {
    overflow: hidden;
    border-radius: 100%;
    width: 80px !important;
    height: 80px !important;
    margin: -60px auto 0 !important;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service_hover_card_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#services_homepage_modal .modal-dialog {
    border-radius: 20px;
}

.services_homepage_image {
    background-color: white;
}

.services_offered {
    margin-top: 20px !important;
    gap: 10px;
    font-size: small;
    justify-content: space-between;
    text-align: left;
}

.services_offered div {
    gap: 5px;
    text-align: left;
    width: 45%;
}

.services_offered img {
    height: 20px;
    width: auto;
}

@media(max-width: 1000px) {
    .tagline_services {
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .tagLine {
        width: 100%;
        margin: 100px 0px 0px 0px !important;
    }

    .services_homepage {
        width: 100%;
    }
}

@media (max-width: 900px) {
    .tagLine {
        width: 95%;
        margin-top: 50px !important;
    }

    .services_homepage {
        width: 95%;
    }
}

@media (max-width: 600px) {
    .services_homepage img {
        position: static;
    }

    .mail,
    .num {
        font-size: 0.8rem;
    }


    .tagLine {
        margin: 50px 0px 0px 0px !important;
    }


    .services_homepage {
        height: fit-content;
        padding-bottom: 50px;
        display: flex;
        flex-direction: row !important;
        flex-wrap: wrap;
        justify-content: center;
    }

    .center_image {
        display: none;
    }

}

@media (max-width: 490px) {
    .navbar-brand img {
        width: 50px;
        height: 50px;
    }

    .navbar-brand {
        font-size: 1rem;
    }

    .services_homepage {
        height: fit-content;
        padding-bottom: 50px;
        display: flex;
        flex-direction: row !important;
        flex-wrap: wrap;
        justify-content: center;
    }

    .center_image {
        display: none;
    }

    .services_homepage img {
        width: 100px !important;
        height: 100px !important;
        position: static;
    }

    .mail_and_num {
        flex-direction: column !important;

    }

    .mail_num {
        font-size: xx-small;
        justify-content: space-between !important;
    }
}