.blogs>h1 {
    font-weight: 700;
    font-family: 'Montserrat Alternates', sans-serif;
    padding-bottom: 20px;
}

.blogs>p {
    padding: 20px;
}

.blogs_heading {
    width: 60%;
    padding: 20px;
    margin: auto !important;
}

.blogs_heading h1 {
    font-size: 3rem;
    font-weight: 600;
}

.blog-title {
    font-weight: 600;
    text-align: left;
    margin-bottom: 20px !important;

}

.blog_cards {
    gap: 20px;
}

.blog_card {
    width: 60%;
    margin: auto !important;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 20px;
    color: white;
    background-image: linear-gradient(to right top, #140d3f, #1a0e43, #200f48, #26104c, #2c1050, #2f1156, #31135d, #341463, #32186e, #2d1c7a, #232186, #0f2692);
}

.blogs_card_head {
    align-items: center;
}

.head_img {
    gap: 20px;
}

.head_img img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.header_info {
    text-align: left;
    padding: 20px;
}

.header_info h5,
p {
    font-weight: 600 !important;

}

.blog_content img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: top;
    margin-bottom: 20px !important;
}

.blog_content p {
    white-space: break-spaces;
    text-align: left;
    overflow-y: scroll;
    height: 400px;
    font-weight: 400 !important;
}

.blog_content p::-webkit-scrollbar {
    display: none;
}

@media (max-width: 900px) {
    .blog_card {
        width: 90%;
    }


    .blogs_heading {
        width: 90%;
    }
}

@media (max-width: 500px) {
    .blogs_heading h1 {
        font-size: 1.5rem;
    }

    .blog_card {
        padding: 10px;
    }

    .head_img img {
        width: 40px;
        height: 40px;
    }

    .header_info {
        padding: 10px;
    }

    .header_info h5 {
        font-size: 0.8rem;
    }

    .header_info p {
        font-size: 0.7rem;
    }

    .blog_content p {
        font-size: 0.8rem;
    }
}