.services_main {
    background-image: url('../../../public/icons/services/service-bg.jpg');
    padding: 100px 50px;
    background-repeat: no-repeat;
    background-size: cover;
}

.services_main_heading {
    color: white;
    width: 80%;
    margin: auto !important;
    gap: 30px;
    margin-bottom: 30px !important;
}

.services_Offered {
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
}

.serive_card {
    height: 400px;
    width: 20rem;
}

.card {
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
}

.card-img-top {
    border-radius: 20px;
}

.card-title {
    color: rgb(75, 8, 138);

}

.card-text {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.testimonial_modal_card {
    position: relative;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    margin: auto !important;
    height: fit-content;
    padding: 20px;
    background-color: white;
}

.testimonial_modal_image {
    background-color: #341055 !important;
}

.testimonial_modal_card .close {
    position: absolute;
    right: 10px;
    top: 10px;
}

@media (max-width: 900px) {
    .services_main_heading {
        width: 100%;
    }
}